.form-create {
  background-color: rgb(240, 248, 255, 0.5);
  border-radius: 20px;
  margin-top: 15px;
  padding: 10px;
}

.btn-create {
  margin-bottom: 20px;
}

.close-btn {
  align-items: center;
  display: flex !important;
  height: 50px;
  justify-content: flex-end;
  margin: 15px;
  width: 100%;
}

