.form-create {
  background-color: rgb(240, 248, 255, 0.5);
  border-radius: 20px;
  margin-top: 15px;
  padding: 10px;
  font-family: 'Pokemon Solid';
  font-size: 100%;
}
.form-create > h5 {
  text-align: center;
}

.btn-create {
  margin-bottom: 20px;
  color: rgb(0, 0, 0) !important;
  background-color: rgb(210, 21, 21) !important;
  border-style: none !important;
}
.close-btn {
  align-items: center;
  display: flex !important;
  height: 50px;
  justify-content: flex-end;
  margin: 15px;
  width: 100%;
}

