.div-catch {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 95%;
  background-color: rgba(172, 172, 172, 0.8);
}

.div-catch > h1 {
  align-self: center;
  font-weight: 600;
  border-radius: 20px;
  font-size: 300%;
  font-family: 'Pokemon Solid';
  letter-spacing: 9px;
  color: rgb(0, 0, 0);;
  padding: 10px;
  text-align: center;
  margin-top: 3%;
}

h1.no-pokemon {
  text-align: center;
  font-weight: 800;
  text-decoration: underline;
  margin-top: 100px;
}

.catchPokemon {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  margin-top: 20px;
  width: 90%;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
}


.catchPokemon::-webkit-scrollbar {
  width: 0px;
}

.catchPokemon::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

.catchPokemon:-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

.cardPokemon {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 70px;
  width: 20%;
}

.infos-card {
  align-items: center;
  background-color: red;
  border-bottom: 7px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-radius: 20px 20px 0 0 ;
}

.infos-card > h4  {
  color: black;
  margin-top: 5%;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 100%;
}

.infos-card > h5  {
  color: black;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}

.cardPokemon > img {
  border-radius: 100%;
  margin: 10px;
  width: 90%;
}

.cardPokemon > button {
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
  width: 60%;
}



@media screen and (max-width: 1300px) {


  .cardPokemon {
    width: 30%;
    margin: 10px 10px;
  }

  
}


@media screen and (max-width: 750px) {


  .cardPokemon {
    width: 45%;
    margin: 10px 2%;
  }

  
}

@media screen and (max-width: 500px) {


  .cardPokemon {
    width: 80%;
    margin: 20px auto;
  }

  .catchPokemon {
    width: 100%;
  }
  
}