
.form-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1%;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2%;
  width: 100%;
}

form > h4 {
  color: black;
  background-color: rgb(240, 248, 255, 0.9);
  font-weight: 800;
}

.form-div-input {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  width: 100%;
}
.input {
  width: 60%;
}